In [1]:
import pandas as pd 
import numpy as np 
import time 
import gc 
from sklearn.preprocessing import StandardScaler
from lightgbm import LGBMRegressor
from sklearn.model_selection import TimeSeriesSplit
from scipy.stats import pearsonr
from tqdm import tqdm
import matplotlib.pyplot as plt


import warnings
warnings.simplefilter("ignore") 

pd.set_option("display.max_columns", None)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print("Memory usage of dataframe is {:.2f} MB".format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == "int":
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        # else:
            # df[col] = df[col].astype('category')
           

    end_mem = df.memory_usage().sum() / 1024**2
    print("Memory usage after optimization is: {:.2f} MB".format(end_mem))
    print("Decreased by {:.1f}%".format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [3]:
df_asset_details = pd.read_csv("input/asset_details.csv").sort_values("Asset_ID")
df_asset_details

    Asset_ID    Weight        Asset_Name
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
0          2  2.397895      Bitcoin Cash
10         3  4.406719           Cardano
13         4  3.555348          Dogecoin
3          5  1.386294            EOS.IO
5          6  5.894403          Ethereum
4          7  2.079442  Ethereum Classic
11         8  1.098612              IOTA
6          9  2.397895          Litecoin
12        10  1.098612             Maker
7         11  1.609438            Monero
9         12  2.079442           Stellar
8         13  1.791759              TRON

In [4]:
def read_csv_strict(file_name="input/train.csv"):
    df = pd.read_csv(file_name).pipe(reduce_mem_usage)
    df["datetime"] = pd.to_datetime(df["timestamp"], unit="s")
    df = df[df["datetime"] >= "2020-05-13 00:00:00"]
    return df

In [5]:
df_train = read_csv_strict()
df_train.head()

Memory usage of dataframe is 1849.12 MB
Memory usage after optimization is: 716.53 MB
Decreased by 61.2%

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,datetime
14413630,1589328000,3,76.0,0.050415,0.050415,0.050293,0.050293,439556.062500,0.050354,0.001899,2020-05-13
14413631,1589328000,2,178.0,233.375000,233.500000,232.875000,233.250000,171.367188,233.259775,-0.003397,2020-05-13
14413632,1589328000,0,160.0,15.796875,15.796875,15.710938,15.726562,3104.360107,15.751624,-0.002546,2020-05-13
14413633,1589328000,1,1303.0,8816.000000,8824.000000,8792.000000,8808.000000,96.224197,8807.092988,0.006603,2020-05-13
14413634,1589328000,4,5.0,0.002460,0.002460,0.002459,0.002460,19970.390625,0.002460,0.006462,2020-05-13

In [6]:
df_supp_train = read_csv_strict(file_name="input/supplemental_train.csv")
df_supp_train.head()

Memory usage of dataframe is 192.13 MB
Memory usage after optimization is: 84.06 MB
Decreased by 56.2%

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,datetime
0,1632182460,3,561.0,2.079028,2.080605,2.072000,2.076458,2.804627e+05,2.075869,0.003084,2021-09-21 00:01:00
1,1632182460,2,169.0,541.005981,541.200012,539.700012,540.721985,1.889432e+02,540.716919,-0.000607,2021-09-21 00:01:00
2,1632182460,0,400.0,363.737488,363.899994,363.000000,363.653992,8.792685e+02,363.499542,-0.019379,2021-09-21 00:01:00
3,1632182460,1,1933.0,42986.144531,43001.000000,42898.000000,42947.066406,9.183862e+01,42942.976562,-0.000374,2021-09-21 00:01:00
4,1632182460,4,348.0,0.208326,0.208400,0.207800,0.208200,1.051337e+06,0.208077,-0.001233,2021-09-21 00:01:00

In [7]:
df_test = read_csv_strict(file_name="input/example_test.csv")
df_test.head()

Memory usage of dataframe is 0.00 MB
Memory usage after optimization is: 0.00 MB
Decreased by 72.0%

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,group_num,row_id,datetime
0,1623542400,3,1201.0,1.478516,1.486328,1.477539,1.483398,654799.562500,1.481445,0,0,2021-06-13
1,1623542400,2,1020.0,580.500000,584.000000,580.000000,582.500000,1227.988281,581.500000,0,1,2021-06-13
2,1623542400,0,626.0,343.750000,345.000000,343.750000,344.500000,1718.832520,344.500000,0,2,2021-06-13
3,1623542400,1,2888.0,35552.000000,35648.000000,35488.000000,35616.000000,163.811539,35584.000000,0,3,2021-06-13
4,1623542400,4,433.0,0.312256,0.312500,0.312012,0.312256,585577.437500,0.312256,0,4,2021-06-13

In [8]:
print(df_train["timestamp"].min(), df_train["timestamp"].max())

1589328000 1632182400

In [9]:
print(df_supp_train["timestamp"].min(), df_supp_train["timestamp"].max())

1632182460 1642982400

In [10]:
df_train = pd.concat([df_train, df_supp_train, df_test])
df_train.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,datetime,group_num,row_id
14413630,1589328000,3,76.0,0.050415,0.050415,0.050293,0.050293,439556.062500,0.050354,0.001899,2020-05-13,NaN,NaN
14413631,1589328000,2,178.0,233.375000,233.500000,232.875000,233.250000,171.367188,233.259775,-0.003397,2020-05-13,NaN,NaN
14413632,1589328000,0,160.0,15.796875,15.796875,15.710938,15.726562,3104.360107,15.751624,-0.002546,2020-05-13,NaN,NaN
14413633,1589328000,1,1303.0,8816.000000,8824.000000,8792.000000,8808.000000,96.224197,8807.092988,0.006603,2020-05-13,NaN,NaN
14413634,1589328000,4,5.0,0.002460,0.002460,0.002459,0.002460,19970.390625,0.002460,0.006462,2020-05-13,NaN,NaN

In [11]:
df_train.shape, df_supp_train.shape, df_test.shape

((12341510, 13), (2518278, 11), (56, 12))

In [12]:
del df_supp_train, df_test
gc.collect()

0

In [13]:
df_train.memory_usage().sum() / 1024**3

0.8160688076168299

In [14]:
## Negative volume implies lack of liquidity in the market
df_train[df_train.Volume < 0]

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,datetime,group_num,row_id
15007600,1592189340,10,74.0,500.0,500.0,500.0,500.0,-1.110223e-16,-512.0,-0.001065,2020-06-15 02:49:00,NaN,NaN
15008561,1592193600,10,9.0,475.0,475.0,475.0,475.0,-3.662812e-01,475.0,0.013779,2020-06-15 04:00:00,NaN,NaN
15179186,1592991180,10,18.0,500.0,500.0,500.0,500.0,-1.387779e-17,-512.0,NaN,2020-06-24 09:33:00,NaN,NaN

In [15]:
df_train[df_train.Target.isna()].groupby("Asset_ID")["timestamp"].count()

Asset_ID
0       521
1        53
2        95
3       130
4     36281
5        49
6        60
7      2064
8     71408
9        54
10    26200
11    24659
12      270
13      333
Name: timestamp, dtype: int64

In [16]:
df_train[(df_train.Target.isna()) & (df_train.Asset_ID==8)].describe(percentiles=[0.25, 0.50, 0.75, 0.90, 0.95, 0.99])

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,datetime,group_num,row_id
count,7.140800e+04,71408.0,71408.000000,71408.000000,71408.000000,71408.000000,71408.000000,71408.000000,71408.000000,0.0,71408,4.000000,4.000000
mean,1.598196e+09,8.0,5.510237,0.265546,0.265878,0.265220,0.265543,5157.311035,0.265541,NaN,2020-08-23 15:24:32.432500480,1.500000,29.000000
min,1.589328e+09,8.0,1.000000,0.181885,0.182251,0.181152,0.181885,0.002000,0.182062,NaN,2020-05-13 00:04:00,0.000000,8.000000
25%,1.593028e+09,8.0,1.000000,0.230591,0.230591,0.230469,0.230591,400.597527,0.230544,NaN,2020-06-24 19:49:00,0.750000,18.500000
50%,1.597965e+09,8.0,3.000000,0.255127,0.255371,0.254883,0.255127,1535.466248,0.255150,NaN,2020-08-20 23:02:30,1.500000,29.000000
75%,1.602760e+09,8.0,6.000000,0.277100,0.277344,0.277100,0.277100,4755.617554,0.277200,NaN,2020-10-15 11:02:15,2.250000,39.500000
90%,1.605217e+09,8.0,12.000000,0.310303,0.310547,0.310059,0.310303,12047.007227,0.310333,NaN,2020-11-12 21:41:30,2.700000,45.800000
95%,1.607110e+09,8.0,18.000000,0.358887,0.359375,0.358398,0.358887,20554.394629,0.358802,NaN,2020-12-04 19:18:36,2.850000,47.900000
99%,1.611566e+09,8.0,42.000000,0.461165,0.462141,0.460432,0.460938,54511.357969,0.461022,NaN,2021-01-25 09:08:57,2.970000,49.580000
max,1.642982e+09,8.0,538.000000,1.918945,1.942383,1.893555,1.918945,627882.437500,1.920249,NaN,2022-01-24 00:00:00,3.000000,50.000000
std,6.195659e+06,0.0,9.968747,0.081218,0.082680,0.079800,0.081217,13389.601562,0.081216,NaN,NaN,1.290994,18.073922

In [17]:
df_train = df_train.sort_values(by=["Asset_ID", "timestamp"], ascending=True)

df_train.head(20)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,datetime,group_num,row_id
14413632,1589328000,0,160.0,15.796875,15.796875,15.710938,15.726562,3104.360107,15.751624,-0.002546,2020-05-13 00:00:00,NaN,NaN
14413645,1589328060,0,43.0,15.734375,15.757812,15.726562,15.750000,785.429993,15.736337,-0.001049,2020-05-13 00:01:00,NaN,NaN
14413658,1589328120,0,40.0,15.742188,15.773438,15.742188,15.757812,1467.939941,15.761350,-0.000627,2020-05-13 00:02:00,NaN,NaN
14413670,1589328180,0,34.0,15.757812,15.773438,15.757812,15.765625,961.549988,15.767834,-0.000198,2020-05-13 00:03:00,NaN,NaN
14413681,1589328240,0,26.0,15.765625,15.773438,15.750000,15.765625,1163.189941,15.765259,0.000259,2020-05-13 00:04:00,NaN,NaN
14413694,1589328300,0,138.0,15.765625,15.820312,15.765625,15.804688,2817.709961,15.791499,0.000312,2020-05-13 00:05:00,NaN,NaN
14413707,1589328360,0,64.0,15.804688,15.804688,15.789062,15.796875,2703.879883,15.799950,0.000301,2020-05-13 00:06:00,NaN,NaN
14413719,1589328420,0,15.0,15.789062,15.796875,15.781250,15.781250,847.809998,15.788136,0.000028,2020-05-13 00:07:00,NaN,NaN
14413731,1589328480,0,65.0,15.804688,15.828125,15.781250,15.820312,1327.428955,15.812743,0.000457,2020-05-13 00:08:00,NaN,NaN
14413744,1589328540,0,30.0,15.804688,15.804688,15.781250,15.789062,998.530029,15.788988,0.000065,2020-05-13 00:09:00,NaN,NaN
14413756,1589328600,0,28.0,15.796875,15.796875,15.765625,15.765625,493.100006,15.787288,0.000704,2020-05-13 00:10:00,NaN,NaN
14413768,1589328660,0,65.0,15.765625,15.765625,15.757812,15.757812,2706.370117,15.759999,0.003012,2020-05-13 00:11:00,NaN,NaN
14413781,1589328720,0,34.0,15.757812,15.757812,15.750000,15.757812,608.669983,15.753956,0.003786,2020-05-13 00:12:00,NaN,NaN
14413793,1589328780,0,18.0,15.757812,15.757812,15.757812,15.757812,560.250000,15.758576,0.003792,2020-05-13 00:13:00,NaN,NaN
14413805,1589328840,0,44.0,15.757812,15.796875,15.757812,15.789062,969.599976,15.777842,0.002302,2020-05-13 00:14:00,NaN,NaN
14413818,1589328900,0,62.0,15.789062,15.796875,15.757812,15.765625,969.809998,15.776530,0.002901,2020-05-13 00:15:00,NaN,NaN
14413831,1589328960,0,105.0,15.765625,15.773438,15.742188,15.757812,1191.319946,15.756249,0.002983,2020-05-13 00:16:00,NaN,NaN
14413844,1589329020,0,75.0,15.750000,15.781250,15.750000,15.750000,2735.010010,15.759720,0.002237,2020-05-13 00:17:00,NaN,NaN
14413857,1589329080,0,49.0,15.757812,15.765625,15.750000,15.750000,1041.390015,15.757296,0.003138,2020-05-13 00:18:00,NaN,NaN
14413870,1589329140,0,40.0,15.757812,15.773438,15.750000,15.757812,559.929993,15.762447,0.002684,2020-05-13 00:19:00,NaN,NaN

# Dealing with missing data

In [18]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12341510 entries, 14413632 to 2518275
Data columns (total 13 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int32
 1   Asset_ID   int8
 2   Count      float32
 3   Open       float32
 4   High       float32
 5   Low        float32
 6   Close      float32
 7   Volume     float32
 8   VWAP       float64
 9   Target     float16
 10  datetime   datetime64[ns]
 11  group_num  float64
 12  row_id     float64
dtypes: datetime64[ns](1), float16(1), float32(6), float64(3), int32(1), int8(1)
memory usage: 835.7 MB

In [19]:
print("total missing: ")
print(df_train.isna().sum())
print("----------------------------")
print("percent missing: ")
print(df_train.isna().sum() * 100. / df_train.shape[0])

total missing:
timestamp           0
Asset_ID            0
Count               0
Open                0
High                0
Low                 0
Close               0
Volume              0
VWAP                9
Target         162177
datetime            0
group_num    12341454
row_id       12341454
dtype: int64
----------------------------
percent missing:
timestamp     0.000000
Asset_ID      0.000000
Count         0.000000
Open          0.000000
High          0.000000
Low           0.000000
Close         0.000000
Volume        0.000000
VWAP          0.000073
Target        1.314077
datetime      0.000000
group_num    99.999546
row_id       99.999546
dtype: float64

In [20]:
df_train.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,datetime,group_num,row_id
14413632,1589328000,0,160.0,15.796875,15.796875,15.710938,15.726562,3104.360107,15.751624,-0.002546,2020-05-13 00:00:00,NaN,NaN
14413645,1589328060,0,43.0,15.734375,15.757812,15.726562,15.750000,785.429993,15.736337,-0.001049,2020-05-13 00:01:00,NaN,NaN
14413658,1589328120,0,40.0,15.742188,15.773438,15.742188,15.757812,1467.939941,15.761350,-0.000627,2020-05-13 00:02:00,NaN,NaN
14413670,1589328180,0,34.0,15.757812,15.773438,15.757812,15.765625,961.549988,15.767834,-0.000198,2020-05-13 00:03:00,NaN,NaN
14413681,1589328240,0,26.0,15.765625,15.773438,15.750000,15.765625,1163.189941,15.765259,0.000259,2020-05-13 00:04:00,NaN,NaN

# Ffill for each group for Target missing value

In [21]:
df_train["Target"] = df_train.sort_values(["Asset_ID", "timestamp"]).groupby("Asset_ID")["Target"].ffill()
df_train["VWAP"] = df_train.sort_values(["Asset_ID", "timestamp"]).groupby("Asset_ID")["VWAP"].ffill()
df_train.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,datetime,group_num,row_id
14413632,1589328000,0,160.0,15.796875,15.796875,15.710938,15.726562,3104.360107,15.751624,-0.002546,2020-05-13 00:00:00,NaN,NaN
14413645,1589328060,0,43.0,15.734375,15.757812,15.726562,15.750000,785.429993,15.736337,-0.001049,2020-05-13 00:01:00,NaN,NaN
14413658,1589328120,0,40.0,15.742188,15.773438,15.742188,15.757812,1467.939941,15.761350,-0.000627,2020-05-13 00:02:00,NaN,NaN
14413670,1589328180,0,34.0,15.757812,15.773438,15.757812,15.765625,961.549988,15.767834,-0.000198,2020-05-13 00:03:00,NaN,NaN
14413681,1589328240,0,26.0,15.765625,15.773438,15.750000,15.765625,1163.189941,15.765259,0.000259,2020-05-13 00:04:00,NaN,NaN

In [22]:
df_train.isna().sum()

timestamp           0
Asset_ID            0
Count               0
Open                0
High                0
Low                 0
Close               0
Volume              0
VWAP                0
Target             60
datetime            0
group_num    12341454
row_id       12341454
dtype: int64

In [23]:
df_train[ (df_train["Target"].isna()) & (df_train["Asset_ID"] == 10)]

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,datetime,group_num,row_id
14422680,1589371980,10,5.0,318.50,318.50,313.50,318.50,4.000000e+00,314.492408,NaN,2020-05-13 12:13:00,NaN,NaN
14425555,1589385600,10,1.0,319.00,319.00,319.00,319.00,1.178322e-01,319.030000,NaN,2020-05-13 16:00:00,NaN,NaN
14441857,1589463480,10,1.0,319.00,319.00,319.00,319.00,7.692300e-02,319.030000,NaN,2020-05-14 13:38:00,NaN,NaN
14443872,1589473140,10,1.0,317.75,317.75,317.75,317.75,2.270260e-02,317.640000,NaN,2020-05-14 16:19:00,NaN,NaN
14444065,1589474040,10,1.0,317.75,317.75,317.75,317.75,2.652251e-02,317.640000,NaN,2020-05-14 16:34:00,NaN,NaN
14444143,1589474400,10,1.0,317.00,317.00,317.00,317.00,3.361441e-02,317.090000,NaN,2020-05-14 16:40:00,NaN,NaN
14444156,1589474460,10,2.0,318.00,318.00,318.00,318.00,2.544000e-01,317.911390,NaN,2020-05-14 16:41:00,NaN,NaN
14444822,1589477640,10,1.0,318.00,318.00,318.00,318.00,1.423000e-01,317.900000,NaN,2020-05-14 17:34:00,NaN,NaN
14445159,1589479260,10,1.0,318.00,318.00,318.00,318.00,3.131256e-02,317.920000,NaN,2020-05-14 18:01:00,NaN,NaN
14446298,1589484780,10,2.0,322.75,322.75,322.75,322.75,1.718209e-01,322.692048,NaN,2020-05-14 19:33:00,NaN,NaN
14446502,1589485740,10,2.0,327.50,327.50,327.50,327.50,1.172456e-01,327.530000,NaN,2020-05-14 19:49:00,NaN,NaN
14446528,1589485860,10,1.0,327.50,327.50,327.50,327.50,8.730490e-02,327.530000,NaN,2020-05-14 19:51:00,NaN,NaN
14446949,1589487840,10,1.0,327.50,327.50,327.50,327.50,4.403104e-02,327.550000,NaN,2020-05-14 20:24:00,NaN,NaN
14446963,1589487900,10,1.0,327.50,327.50,327.50,327.50,5.190000e-06,327.550000,NaN,2020-05-14 20:25:00,NaN,NaN
14450602,1589505120,10,2.0,322.75,322.75,322.75,322.75,6.489900e-02,322.700000,NaN,2020-05-15 01:12:00,NaN,NaN
14453010,1589516520,10,1.0,333.50,333.50,333.50,333.50,4.917589e-02,333.520000,NaN,2020-05-15 04:22:00,NaN,NaN
14455976,1589530680,10,1.0,322.00,322.00,322.00,322.00,5.626334e-02,321.990000,NaN,2020-05-15 08:18:00,NaN,NaN
14484749,1589670240,10,1.0,333.00,333.00,333.00,333.00,3.358080e-02,333.020000,NaN,2020-05-16 23:04:00,NaN,NaN
14484775,1589670360,10,7.0,333.50,333.50,333.50,333.50,1.436847e+00,333.600000,NaN,2020-05-16 23:06:00,NaN,NaN
14485062,1589671800,10,1.0,335.50,335.50,335.50,335.50,5.175934e-01,335.600000,NaN,2020-05-16 23:30:00,NaN,NaN
14485096,1589671980,10,1.0,335.50,335.50,335.50,335.50,7.449344e-01,335.600000,NaN,2020-05-16 23:33:00,NaN,NaN
14485121,1589672100,10,1.0,335.50,335.50,335.50,335.50,7.449344e-01,335.600000,NaN,2020-05-16 23:35:00,NaN,NaN
14485145,1589672220,10,1.0,335.50,335.50,335.50,335.50,7.449344e-01,335.600000,NaN,2020-05-16 23:37:00,NaN,NaN
14485159,1589672280,10,2.0,335.50,335.50,335.50,335.50,1.247603e+00,335.600000,NaN,2020-05-16 23:38:00,NaN,NaN
14485173,1589672340,10,1.0,333.50,333.50,333.50,333.50,2.379630e-01,333.600000,NaN,2020-05-16 23:39:00,NaN,NaN
14485309,1589673000,10,1.0,333.50,333.50,333.50,333.50,7.494005e-01,333.600000,NaN,2020-05-16 23:50:00,NaN,NaN
14485867,1589675700,10,2.0,333.50,333.50,333.50,333.50,1.042063e+00,333.600000,NaN,2020-05-17 00:35:00,NaN,NaN
14485881,1589675760,10,2.0,333.50,333.50,333.50,333.50,8.729630e-01,333.600000,NaN,2020-05-17 00:36:00,NaN,NaN
14486235,1589677440,10,2.0,333.50,333.50,333.50,333.50,9.896583e-02,333.600000,NaN,2020-05-17 01:04:00,NaN,NaN
14491371,1589703000,10,2.0,333.50,333.50,333.50,333.50,5.617973e-01,333.600000,NaN,2020-05-17 08:10:00,NaN,NaN
14491422,1589703240,10,1.0,333.50,333.50,333.50,333.50,2.700000e-07,333.600000,NaN,2020-05-17 08:14:00,NaN,NaN
14491524,1589703720,10,2.0,331.00,331.00,331.00,331.00,7.296640e-01,331.100000,NaN,2020-05-17 08:22:00,NaN,NaN
14491999,1589706060,10,2.0,331.00,331.00,331.00,331.00,3.836720e-01,331.100000,NaN,2020-05-17 09:01:00,NaN,NaN
14492047,1589706300,10,2.0,331.00,331.00,331.00,331.00,1.562924e+00,331.100000,NaN,2020-05-17 09:05:00,NaN,NaN
14492060,1589706360,10,4.0,331.00,331.00,331.00,331.00,3.093080e+00,331.100000,NaN,2020-05-17 09:06:00,NaN,NaN
14492073,1589706420,10,4.0,331.00,331.00,331.00,331.00,6.270905e-01,331.100000,NaN,2020-05-17 09:07:00,NaN,NaN
14494403,1589717760,10,1.0,336.00,336.00,336.00,336.00,5.935638e-02,335.980000,NaN,2020-05-17 12:16:00,NaN,NaN
14494892,1589720040,10,1.0,337.50,337.50,337.50,337.50,8.568497e-02,337.500000,NaN,2020-05-17 12:54:00,NaN,NaN
14494916,1589720160,10,3.0,337.50,337.50,337.50,337.50,3.928849e-01,337.500000,NaN,2020-05-17 12:56:00,NaN,NaN
14494968,1589720400,10,3.0,337.50,338.00,337.50,338.00,1.889973e-01,337.881607,NaN,2020-05-17 13:00:00,NaN,NaN
14494995,1589720520,10,2.0,338.00,338.00,338.00,338.00,1.429669e-01,337.968629,NaN,2020-05-17 13:02:00,NaN,NaN
14501912,1589754180,10,1.0,338.00,338.00,338.00,338.00,1.900000e-07,338.090000,NaN,2020-05-17 22:23:00,NaN,NaN
14503605,1589762460,10,1.0,340.00,340.00,340.00,340.00,2.591372e-01,340.000000,NaN,2020-05-18 00:41:00,NaN,NaN
14503618,1589762520,10,3.0,340.00,343.00,340.00,340.00,7.911547e-01,340.192610,NaN,2020-05-18 00:42:00,NaN,NaN
14503970,1589764260,10,2.0,345.00,345.00,345.00,345.00,1.429020e-01,345.000000,NaN,2020-05-18 01:11:00,NaN,NaN
14504010,1589764440,10,1.0,345.00,345.00,345.00,345.00,4.960927e-01,345.000000,NaN,2020-05-18 01:14:00,NaN,NaN
14504062,1589764680,10,3.0,345.00,348.25,345.00,345.00,4.975339e-01,345.873248,NaN,2020-05-18 01:18:00,NaN,NaN
14504243,1589765520,10,1.0,348.25,348.25,348.25,348.25,8.151100e-01,348.320000,NaN,2020-05-18 01:32:00,NaN,NaN
14508732,1589787060,10,2.0,337.50,337.50,337.50,337.50,1.954206e-01,337.380000,NaN,2020-05-18 07:31:00,NaN,NaN
14509676,1589791680,10,1.0,333.00,333.00,333.00,333.00,2.022211e-01,332.980000,NaN,2020-05-18 08:48:00,NaN,NaN
14510881,1589797380,10,7.0,326.50,326.50,326.00,326.50,9.186341e-01,326.404818,NaN,2020-05-18 10:23:00,NaN,NaN
14512867,1589807040,10,1.0,329.00,329.00,329.00,329.00,7.420600e-02,328.990000,NaN,2020-05-18 13:04:00,NaN,NaN
14518407,1589833920,10,2.0,326.00,326.00,326.00,326.00,2.531091e-02,326.020000,NaN,2020-05-18 20:32:00,NaN,NaN
14518420,1589833980,10,2.0,321.25,321.25,321.25,321.25,5.814693e-02,321.320000,NaN,2020-05-18 20:33:00,NaN,NaN
14518456,1589834160,10,8.0,317.50,317.50,310.00,317.50,6.269022e+00,316.203567,NaN,2020-05-18 20:36:00,NaN,NaN
14529880,1589890260,10,1.0,318.00,318.00,318.00,318.00,3.332000e-01,317.890000,NaN,2020-05-19 12:11:00,NaN,NaN
14531269,1589896920,10,13.0,321.00,321.00,318.25,319.75,6.108749e+00,318.943759,NaN,2020-05-19 14:02:00,NaN,NaN
14531283,1589896980,10,5.0,318.50,318.50,318.50,318.50,2.077134e+00,318.490000,NaN,2020-05-19 14:03:00,NaN,NaN
14531297,1589897040,10,2.0,318.25,318.25,318.25,318.25,2.801400e+00,318.230000,NaN,2020-05-19 14:04:00,NaN,NaN
14531311,1589897100,10,3.0,319.00,319.00,319.00,319.00,4.824463e-01,319.070000,NaN,2020-05-19 14:05:00,NaN,NaN

In [24]:
df_train["Target"] = df_train["Target"].fillna(0)

In [25]:
df_train[ (df_train["Target"].isna()) & (df_train["Asset_ID"] == 10)]

Empty DataFrame
Columns: [timestamp, Asset_ID, Count, Open, High, Low, Close, Volume, VWAP, Target, datetime, group_num, row_id]
Index: []

In [26]:
df_train["Target"].isna().sum()

0

# Utility Functions

In [27]:
# Two new features from the competition tutorial
def upper_shadow(df):
    return df["High"] - np.maximum(df["Close"], df["Open"])

def lower_shadow(df):
    return np.minimum(df["Close"], df["Open"]) - df["Low"]

## notebook: crypto-prediction-technical-analysis-features
def SM_A_M(df, colname, n):
    mean = df[colname].rolling(window=n).mean()
    median = df[colname].rolling(window=n).median()
    
    return mean, median

def EMA1(df, colname, n):
    ## EMA
    """
    https://qiita.com/MuAuan/items/b08616a841be25d29817
    """
    a= 2/(n+1)
    return df[colname].ewm(alpha=a).mean()

def MACD(df, colname, span1=12, span2=26, span3=9):
    ## MACD
    """
    Compute MACD
    # https://www.learnpythonwithrune.org/pandas-calculate-the-moving-average-convergence-divergence-macd-for-a-stock/
    """
    
    exp1 = EMA1(df, colname, span1)
    exp2 = EMA1(df, colname, span2)
    macd = 100 * (exp1 - exp2) / exp2
    signal = macd.ewm(alpha=2./(span3+1)).mean() ##EMA1(df, colname, macd, span3)

    return macd, signal

def BollingerBand(df, colname, window, no_of_std):
    mean = df[colname].rolling(window=window).mean()
    std = df[colname].rolling(window=window).std() 
    bb_high = mean + no_of_std * std
    bb_low = mean - no_of_std * std
    
    return bb_high, bb_low, std
## RSI
def rsiFunc(df, colname, n=14):
    prices = df[colname].values
    
    deltas = np.diff(prices)
    seed = deltas[:n+1]
    up = seed[seed>=0].sum()/n
    down = -seed[seed<0].sum()/n
    rs = up/down
    rsi = np.zeros_like(prices)
    rsi[:n] = 100. - 100./(1.+rs)

    for i in range(n, len(prices)):
        delta = deltas[i-1] # cause the diff is 1 shorter

        if delta>0:
            upval = delta
            downval = 0.
        else:
            upval = 0.
            downval = -delta

        up = (up*(n-1) + upval)/n
        down = (down*(n-1) + downval)/n

        rs = up/down
        rsi[i] = 100. - 100./(1.+rs)

    return rsi

## https://stackoverflow.com/questions/42138357/pandas-rolling-slope-calculation
def calc_slope(x):
    slope = np.polyfit(range(len(x)), x, 1)[0]
    return slope

# Feature Engineering

In [28]:
def get_feat(df):
    df["High-Low"] = df["High"] - df["Low"]
    df["Close-Open"] = df["Close"] - df["Open"]

    df["dayofweek"] = df["datetime"].dt.dayofweek
    df["weekofyear"] = df["datetime"].dt.isocalendar().week
 ## df["weekofyear"] = df["datetime"].dt.day_name()
##df['weekofyear'] = df['datetime'].dt.isocalendar().week

    df["dayofweek"] = df["dayofweek"].astype(np.int32)
    df["weekofyear"] = df["weekofyear"].astype(np.int32)
  

    df = df.drop(["datetime", "VWAP", "Open", "High", "Low"], axis=1)
    gc.collect()
   

    macd, signal = MACD(df=df, colname="Close")
    df['MACD_' + "Close" + '_macd'] = macd
    df['MACD_' + "Close" + '_signal'] = signal

    df['MACD_' + "Close" + '_macd'] = df['MACD_' + "Close" + '_macd'].astype(np.float32)
    df['MACD_' + "Close" + '_signal'] = df['MACD_' + "Close" + '_signal'].astype(np.float32)

    arr_n = [5, 10, 15]
  
    arr_cols = ["Close", "Volume"]
    no_of_std = 2.5

    for colname in arr_cols: 
        print("colname = " + colname)
        for n in arr_n:
            print("n = "+ str(n))
            df['Target_lag_' + str(n)] = df['Target'].shift(n)
            df['Target_lag_' + str(n)].fillna(value=df["Target"], inplace=True)
            


            print("SMA")
            mean, median = SM_A_M(df=df, colname=colname, n=n)
            df['SM_' + colname + '_mean_' + str(n)] = mean
            df['SM_' + colname + '_median_' + str(n)] = median

            df['SM_' + colname + '_mean_' + str(n)] = df['SM_' + colname + '_mean_' + str(n)].astype(np.float32)
            df['SM_' + colname + '_median_' + str(n)] = df['SM_' + colname + '_median_' + str(n)].astype(np.float32)

            df['SM_' + colname + '_mean_' + str(n)].fillna(value=df[colname], inplace=True)
            df['SM_' + colname + '_median_' + str(n)].fillna(value=df[colname], inplace=True)
            

            print("EMA1")
            ewmean = EMA1(df=df_train, colname=colname, n=n)
            df['EWM_' + colname + '_mean_' + str(n)] = ewmean
            df['EWM_' + colname + '_mean_' + str(n)] = df['EWM_' + colname + '_mean_' + str(n)].astype(np.float32)
            df['EWM_' + colname + '_mean_' + str(n)].fillna(value=1, inplace=True)
            
            if colname in ['VWAP', 'Volume']:
                continue

            if n==5:
                continue
                
            print("RSI")
            rsi = rsiFunc(df=df,  colname=colname, n=n)
            df['RSI_' + str(n)] = rsi
            df['RSI_' + str(n)] = df['RSI_' + str(n)].astype(np.float32)
            df['RSI_' + str(n)].fillna(value=1, inplace=True)
            

            print("BollingerBand")
            bb_high, bb_low, std = BollingerBand(df=df, colname=colname, window=n, no_of_std=no_of_std)
            df['SM_' + colname + '_std_' + str(n)] = std
            df['SM_' + colname + '_BB_High_' + str(n)] = bb_high
            df['SM_' + colname + '_BB_Low_' + str(n)] = bb_low

            df['SM_' + colname + '_std_' + str(n)] = df['SM_' + colname + '_std_' + str(n)].astype(np.float32)
            df['SM_' + colname + '_BB_High_' + str(n)] = df['SM_' + colname + '_BB_High_' + str(n)].astype(np.float32)
            df['SM_' + colname + '_BB_Low_' + str(n)] = df['SM_' + colname + '_BB_Low_' + str(n)].astype(np.float32)
            df['SM_' + colname + '_std_' + str(n)].fillna(value=0, inplace=True)
            df['SM_' + colname + '_BB_High_' + str(n)].fillna(value=df[colname], inplace=True) 
            df['SM_' + colname + '_BB_Low_' + str(n)].fillna(value=df[colname], inplace=True) 
            
            
            gc.collect()

    df = reduce_mem_usage(df)

    df.head()

    return df

In [29]:
df_train.describe()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,datetime,group_num,row_id
count,1.234151e+07,1.234151e+07,1.234151e+07,1.234151e+07,1.234151e+07,1.234151e+07,1.234151e+07,1.234151e+07,1.234151e+07,1.234151e+07,12341510,56.000000,56.000000
mean,1.616461e+09,6.476660e+00,5.121443e+02,2.828929e+03,2.832656e+03,2.825253e+03,2.828932e+03,5.132506e+05,NaN,0.000000e+00,2021-03-23 00:51:30.991047168,1.500000,27.500000
min,1.589328e+09,0.000000e+00,1.000000e+00,2.277374e-03,2.277374e-03,2.269745e-03,2.275467e-03,-3.662812e-01,-inf,-2.531738e-01,2020-05-13 00:00:00,0.000000,0.000000
25%,1.603247e+09,3.000000e+00,4.400000e+01,3.809531e-01,3.815918e-01,3.803711e-01,3.809782e-01,1.626971e+02,3.809607e-01,-1.560211e-03,2020-10-21 02:24:00,0.750000,13.750000
50%,1.616525e+09,6.000000e+00,1.510000e+02,3.783398e+01,3.793750e+01,3.775835e+01,3.783586e+01,1.781942e+03,3.783133e+01,-6.455183e-05,2021-03-23 18:40:00,1.500000,27.500000
75%,1.629752e+09,1.000000e+01,4.840000e+02,4.371300e+02,4.377000e+02,4.367000e+02,4.371250e+02,9.398338e+04,4.371230e+02,1.425743e-03,2021-08-23 20:47:00,2.250000,41.250000
max,1.642982e+09,1.300000e+01,1.650160e+05,6.898612e+04,6.902420e+04,6.873400e+04,6.897356e+04,7.597554e+08,inf,3.181152e-01,2022-01-24 00:00:00,3.000000,55.000000
std,1.536678e+07,4.045149e+00,1.225433e+03,1.011666e+04,1.012910e+04,1.010399e+04,1.011666e+04,3.421411e+06,NaN,0.000000e+00,NaN,1.128152,16.309506

In [30]:
df_train=get_feat(df=df_train)
df_train.memory_usage(deep=True)

colname = Close
n = 5
SMA
EMA1
n = 10
SMA
EMA1
RSI
BollingerBand
n = 15
SMA
EMA1
RSI
BollingerBand
colname = Volume
n = 5
SMA
EMA1
n = 10
SMA
EMA1
n = 15
SMA
EMA1
Memory usage of dataframe is 2083.25 MB
Memory usage after optimization is: 1683.08 MB
Decreased by 19.2%

Index                  98732080
timestamp              49366040
Asset_ID               12341510
Count                  49366040
Close                  49366040
Volume                 49366040
Target                 24683020
group_num              24683020
row_id                 24683020
High-Low               24683020
Close-Open             24683020
dayofweek              12341510
weekofyear             12341510
MACD_Close_macd        24683020
MACD_Close_signal      24683020
Target_lag_5           24683020
SM_Close_mean_5        49366040
SM_Close_median_5      49366040
EWM_Close_mean_5       49366040
Target_lag_10          24683020
SM_Close_mean_10       49366040
SM_Close_median_10     49366040
EWM_Close_mean_10      49366040
RSI_10                 24683020
SM_Close_std_10        24683020
SM_Close_BB_High_10    49366040
SM_Close_BB_Low_10     49366040
Target_lag_15          24683020
SM_Close_mean_15       49366040
SM_Close_median_15     49366040
EWM_Close_mean_15      49366040
RSI_15                 24683020
SM_Close_std_15        24683020
SM_Close_BB_High_15    49366040
SM_Close_BB_Low_15     49366040
SM_Volume_mean_5       49366040
SM_Volume_median_5     49366040
EWM_Volume_mean_5      49366040
SM_Volume_mean_10      49366040
SM_Volume_median_10    49366040
EWM_Volume_mean_10     49366040
SM_Volume_mean_15      49366040
SM_Volume_median_15    49366040
EWM_Volume_mean_15     49366040
dtype: int64

In [31]:
df_train.info(verbose=False,memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 12341510 entries, 14413632 to 2518275
Columns: 43 entries, timestamp to EWM_Volume_mean_15
dtypes: float16(14), float32(25), int32(1), int8(3)
memory usage: 1.6 GB

In [32]:
gc.collect()

0

In [33]:
import memory_profiler
m1 = memory_profiler.memory_usage()
m1

[3450.76953125]

In [34]:
df_train.head(10)

,timestamp,Asset_ID,Count,Close,Volume,Target,group_num,row_id,High-Low,Close-Open,dayofweek,weekofyear,MACD_Close_macd,MACD_Close_signal,Target_lag_5,SM_Close_mean_5,SM_Close_median_5,EWM_Close_mean_5,Target_lag_10,SM_Close_mean_10,SM_Close_median_10,EWM_Close_mean_10,RSI_10,SM_Close_std_10,SM_Close_BB_High_10,SM_Close_BB_Low_10,Target_lag_15,SM_Close_mean_15,SM_Close_median_15,EWM_Close_mean_15,RSI_15,SM_Close_std_15,SM_Close_BB_High_15,SM_Close_BB_Low_15,SM_Volume_mean_5,SM_Volume_median_5,EWM_Volume_mean_5,SM_Volume_mean_10,SM_Volume_median_10,EWM_Volume_mean_10,SM_Volume_mean_15,SM_Volume_median_15,EWM_Volume_mean_15
14413632,1589328000,0,160.0,15.726562,3104.360107,-0.002546,NaN,NaN,0.085938,-0.070312,2,20,0.000000,0.000000,-0.002546,15.726562,15.726562,15.726562,-0.002546,15.726562,15.726562,15.726562,57.6875,0.000000,15.726562,15.726562,-0.002546,15.726562,15.726562,15.726562,55.875,0.0,15.726562,15.726562,3104.360107,3104.360107,3104.360107,3104.360107,3104.360107,3104.360107,3104.360107,3104.360107,3104.360107
14413645,1589328060,0,43.0,15.750000,785.429993,-0.001049,NaN,NaN,0.031250,0.015625,2,20,0.003342,0.001856,-0.001049,15.750000,15.750000,15.740625,-0.001049,15.750000,15.750000,15.739453,57.6875,0.000000,15.750000,15.750000,-0.001049,15.750000,15.750000,15.739062,55.875,0.0,15.750000,15.750000,785.429993,785.429993,1713.002075,785.429993,785.429993,1828.948486,785.429993,785.429993,1867.597412
14413658,1589328120,0,40.0,15.757812,1467.939941,-0.000627,NaN,NaN,0.031250,0.015625,2,20,0.005795,0.003469,-0.000627,15.757812,15.757812,15.748767,-0.000627,15.757812,15.757812,15.746834,57.6875,0.000000,15.757812,15.757812,-0.000627,15.757812,15.757812,15.746163,55.875,0.0,15.757812,15.757812,1467.939941,1467.939941,1596.920044,1467.939941,1467.939941,1683.825439,1467.939941,1467.939941,1716.247803
14413670,1589328180,0,34.0,15.765625,961.549988,-0.000198,NaN,NaN,0.015625,0.007812,2,20,0.008560,0.005192,-0.000198,15.765625,15.765625,15.755769,-0.000198,15.765625,15.765625,15.753024,57.6875,0.000000,15.765625,15.765625,-0.000198,15.765625,15.765625,15.752042,55.875,0.0,15.765625,15.765625,961.549988,961.549988,1332.997070,961.549988,961.549988,1445.867920,961.549988,961.549988,1488.280151
14413681,1589328240,0,26.0,15.765625,1163.189941,0.000259,NaN,NaN,0.023438,0.000000,2,20,0.009880,0.006588,0.000259,15.753125,15.757812,15.759553,0.000259,15.765625,15.765625,15.756641,57.6875,0.000000,15.765625,15.765625,0.000259,15.765625,15.765625,15.755527,55.875,0.0,15.765625,15.765625,1496.494019,1163.189941,1267.810425,1163.189941,1163.189941,1364.718750,1163.189941,1163.189941,1404.853638
14413694,1589328300,0,138.0,15.804688,2817.709961,0.000312,NaN,NaN,0.054688,0.039062,2,20,0.021072,0.010513,-0.002546,15.768750,15.765625,15.776046,0.000312,15.804688,15.804688,15.769121,57.6875,0.000000,15.804688,15.804688,0.000312,15.804688,15.804688,15.766676,55.875,0.0,15.804688,15.804688,1439.163940,1163.189941,1834.164673,2817.709961,2817.709961,1742.110718,2817.709961,2817.709961,1725.255615
14413707,1589328360,0,64.0,15.796875,2703.879883,0.000301,NaN,NaN,0.015625,-0.007812,2,20,0.025635,0.014343,-0.001049,15.778125,15.765625,15.783421,0.000301,15.796875,15.796875,15.775808,57.6875,0.000000,15.796875,15.796875,0.000301,15.796875,15.796875,15.772892,55.875,0.0,15.796875,15.796875,1822.854004,1467.939941,2142.092041,2703.879883,2703.879883,1973.858521,2703.879883,2703.879883,1926.683594
14413719,1589328420,0,15.0,15.781250,847.809998,0.000028,NaN,NaN,0.015625,-0.007812,2,20,0.023590,0.016556,-0.000627,15.782812,15.781250,15.782667,0.000028,15.781250,15.781250,15.777046,57.6875,0.000000,15.781250,15.781250,0.000028,15.781250,15.781250,15.774484,55.875,0.0,15.781250,15.781250,1698.828003,1163.189941,1693.147583,847.809998,847.809998,1717.677002,847.809998,847.809998,1721.228027
14413731,1589328480,0,65.0,15.820312,1327.428955,0.000457,NaN,NaN,0.046875,0.015625,2,20,0.034088,0.020615,-0.000198,15.793750,15.796875,15.795551,0.000457,15.820312,15.820312,15.786460,57.6875,0.000000,15.820312,15.820312,0.000457,15.820312,15.820312,15.782675,55.875,0.0,15.820312,15.820312,1772.003784,1327.428955,1567.985596,1327.428955,1327.428955,1632.772705,1327.428955,1327.428955,1650.840576
14413744,1589328540,0,30.0,15.789062,998.530029,0.000065,NaN,NaN,0.023438,-0.015625,2,20,0.030823,0.022903,0.000259,15.798437,15.796875,15.793350,0.000065,15.775782,15.773438,15.787006,57.6875,0.028061,15.845931,15.705631,0.000065,15.789062,15.789062,15.783758,55.875,0.0,15.789062,15.789062,1739.071777,1327.428955,1374.817261,1617.782837,1245.309448,1499.546143,998.530029,998.530029,1540.193115

In [35]:
gc.collect()

0

In [36]:
df_test = df_train[~((df_train["group_num"].isna()) & (df_train["row_id"].isna()))]
print(df_test.shape)

gc.collect()

df_train.drop(  df_train[~((df_train["group_num"].isna()) & (df_train["row_id"].isna()))].index, inplace=True)
print(df_train.shape)

df_test.drop(["Target"], axis=1, inplace=True)
df_train.drop(["group_num", "row_id"], axis=1, inplace=True)

df_train.shape, df_test.shape

(56, 43)

:

In [ ]:
df_train.head()

In [ ]:
df_train.isna().sum()

# Training With LGBM

In [ ]:
# 10-fold time series cross validation
def timecv_model(model, X, y):
    tfold = TimeSeriesSplit(n_splits = 5)
    pcc_list = []
    for _, (train_index, test_index) in tqdm(enumerate(tfold.split(X), start=1)):
        X_train, X_test = X.iloc[train_index], X.iloc[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        clf = model.fit(X_train, y_train)
        pred = clf.predict(X_test)
        pcc = pearsonr(pred, y_test) 
        pcc_list.append(pcc[0])
        gc.collect()
    
    return pcc_list

def cv_result(model, X, y):
    model_name = model.__class__.__name__
    pcc_ = timecv_model(model, X, y)
    for i, pcc in enumerate(pcc_):
        print(f'{i}th fold: {model_name} PCC: {pcc:.4f}')
    print(f'\n{model_name} average PCC: {np.mean(pcc_):.4f}')

In [ ]:
def train_lgb(model, X, y):
    # print("model fitting ...")
    # clf = model.fit(X, y)
    # print("predicting ...")
    # pred = clf.predict(X)
    # pcc = pearsonr(pred, y)[0]
    
    # print("pcc = ", str(pcc))
    # gc.collect()
    cv_result(model,X,y)
    
    return model

In [ ]:
lgb_model = LGBMRegressor(n_estimators = 576,
                          max_depth = 17,
                          num_leaves = 35,
                          learning_rate = 0.06891972238739223, 
                          min_child_samples = 47, 
                          colsample_bytree=0.4000480946836777,
                          subsample = 0.6058272745943716,
                          seed = 42)


y = df_train["Target"]
X = df_train.drop(['timestamp', "Target"], axis=1)

gc.collect()

model = train_lgb(lgb_model, X, y)
model

In [ ]:
def get_prediction(row):
    y_pred = df_test.loc[((df_test["timestamp"] == row["timestamp"]) & (df_test["Asset_ID"] == row["Asset_ID"])), "Target"]
    print(y_pred.values[0])
    return y_pred.values[0]

# Predict and Submit

In [ ]:
df_pred = pd.read_csv("input/example_test.csv")
df_pred.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,group_num,row_id
0,1623542400,3,1201.0,1.478556,1.48603,1.47800,1.483681,654799.561103,1.481439,0,0
1,1623542400,2,1020.0,580.306667,583.89000,579.91000,582.276667,1227.988328,581.697038,0,1
2,1623542400,0,626.0,343.789500,345.10800,343.64000,344.598000,1718.832569,344.441729,0,2
3,1623542400,1,2888.0,35554.289632,35652.46465,35502.67000,35602.004286,163.811537,35583.469303,0,3
4,1623542400,4,433.0,0.312167,0.31260,0.31192,0.312208,585577.410442,0.312154,0,4

In [ ]:
df_sample_sub = pd.read_csv("input/example_test.csv")
df_sample_sub.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,group_num,row_id
0,1623542400,3,1201.0,1.478556,1.48603,1.47800,1.483681,654799.561103,1.481439,0,0
1,1623542400,2,1020.0,580.306667,583.89000,579.91000,582.276667,1227.988328,581.697038,0,1
2,1623542400,0,626.0,343.789500,345.10800,343.64000,344.598000,1718.832569,344.441729,0,2
3,1623542400,1,2888.0,35554.289632,35652.46465,35502.67000,35602.004286,163.811537,35583.469303,0,3
4,1623542400,4,433.0,0.312167,0.31260,0.31192,0.312208,585577.410442,0.312154,0,4

In [ ]:
df_test.columns

Index(['timestamp', 'Asset_ID', 'Count', 'Close', 'Volume', 'group_num',
       'row_id', 'High-Low', 'Close-Open', 'dayofweek', 'weekofyear',
       'MACD_Close_macd', 'MACD_Close_signal', 'Target_lag_5',
       'SM_Close_mean_5', 'SM_Close_median_5', 'EWM_Close_mean_5',
       'Target_lag_10', 'SM_Close_mean_10', 'SM_Close_median_10',
       'EWM_Close_mean_10', 'RSI_10', 'SM_Close_std_10', 'SM_Close_BB_High_10',
       'SM_Close_BB_Low_10', 'Target_lag_15', 'SM_Close_mean_15',
       'SM_Close_median_15', 'EWM_Close_mean_15', 'RSI_15', 'SM_Close_std_15',
       'SM_Close_BB_High_15', 'SM_Close_BB_Low_15', 'SM_Volume_mean_5',
       'SM_Volume_median_5', 'EWM_Volume_mean_5', 'SM_Volume_mean_10',
       'SM_Volume_median_10', 'EWM_Volume_mean_10', 'SM_Volume_mean_15',
       'SM_Volume_median_15', 'EWM_Volume_mean_15'],
      dtype='object')

In [ ]:
X_test = df_test.drop(["group_num", "row_id", "timestamp"], axis=1)
df_test["Target"] = model.predict(X_test)
df_test.head()

,timestamp,Asset_ID,Count,Close,Volume,group_num,row_id,High-Low,Close-Open,dayofweek,weekofyear,MACD_Close_macd,MACD_Close_signal,Target_lag_5,SM_Close_mean_5,SM_Close_median_5,EWM_Close_mean_5,Target_lag_10,SM_Close_mean_10,SM_Close_median_10,EWM_Close_mean_10,RSI_10,SM_Close_std_10,SM_Close_BB_High_10,SM_Close_BB_Low_10,Target_lag_15,SM_Close_mean_15,SM_Close_median_15,EWM_Close_mean_15,RSI_15,SM_Close_std_15,SM_Close_BB_High_15,SM_Close_BB_Low_15,SM_Volume_mean_5,SM_Volume_median_5,EWM_Volume_mean_5,SM_Volume_mean_10,SM_Volume_median_10,EWM_Volume_mean_10,SM_Volume_mean_15,SM_Volume_median_15,EWM_Volume_mean_15,Target
2,1623542400,0,626.0,344.50,1718.832520,0.0,2.0,1.25,0.75,6,23,-0.090759,-0.115173,-0.001917,343.799988,343.75,344.073944,-0.002911,343.825012,343.875,343.983917,55.781250,0.486572,345.041565,342.608429,-0.005814,343.883331,343.75,344.066772,51.343750,0.507812,345.152527,342.614136,1379.958252,1622.844116,1378.046997,944.173462,683.439087,1137.173340,949.931519,681.673218,1015.506592,-0.000583
16,1623542460,0,458.0,344.00,1217.352417,1.0,16.0,1.25,-0.25,6,23,-0.078186,-0.102783,-0.004539,344.149994,344.00,344.032867,-0.003244,343.825012,343.875,343.989227,47.656250,0.486572,345.041565,342.608429,-0.002844,343.816681,343.75,344.051147,46.062500,0.406006,344.831818,342.801514,1420.716187,1231.211182,1288.772217,1107.349731,1217.352417,1163.678833,979.783936,758.807129,1062.814209,-0.002389
30,1623542520,0,535.0,343.00,975.797058,2.0,30.0,1.50,-0.75,6,23,-0.108398,-0.102783,-0.004524,343.700012,344.00,343.459045,-0.002598,343.649994,343.625,343.662201,35.062500,0.591797,345.129028,342.170990,-0.001415,343.733337,343.75,343.804779,37.218750,0.495117,344.971375,342.495300,1221.026245,1217.352417,1114.897095,1174.722900,1217.352417,1101.569214,961.016418,975.797058,1042.419556,-0.002583
44,1623542580,0,614.0,342.25,1295.198486,3.0,44.0,1.50,-1.00,6,23,-0.153442,-0.117981,-0.001328,342.899994,343.00,342.787354,-0.005203,343.450012,343.500,343.195374,28.171875,0.831543,345.529175,341.370850,-0.004032,343.516663,343.75,343.440369,31.953125,0.709961,345.291779,341.741547,1151.868652,1217.352417,1215.064575,1225.364380,1224.281738,1165.578857,1060.817993,1217.352417,1101.664551,0.000196
3,1623542400,1,2888.0,35616.00,163.811539,0.0,3.0,160.00,64.00,6,23,-0.124573,-0.155518,0.002964,35552.000000,35552.00,35573.933594,0.001691,35539.199219,35536.000,35563.886719,54.687500,50.468750,35665.410156,35412.992188,-0.000754,35549.867188,35552.00,35576.121094,49.468750,63.375000,35708.335938,35391.398438,115.963493,102.154205,127.879196,88.659431,81.342072,107.197540,100.434464,88.136208,95.803955,0.001941

In [ ]:
df_test[["group_num", "row_id", "Target"]].to_csv('submission01.csv', index=False)

In [ ]:
result=pd.read_csv('submission01.csv')
plt.scatter(result['row_id'],result['Target'],cmap='hsv')
plt.show()

In [ ]:
df_test.head()

,timestamp,Asset_ID,Count,Close,Volume,group_num,row_id,High-Low,Close-Open,dayofweek,weekofyear,MACD_Close_macd,MACD_Close_signal,Target_lag_5,SM_Close_mean_5,SM_Close_median_5,EWM_Close_mean_5,Target_lag_10,SM_Close_mean_10,SM_Close_median_10,EWM_Close_mean_10,RSI_10,SM_Close_std_10,SM_Close_BB_High_10,SM_Close_BB_Low_10,Target_lag_15,SM_Close_mean_15,SM_Close_median_15,EWM_Close_mean_15,RSI_15,SM_Close_std_15,SM_Close_BB_High_15,SM_Close_BB_Low_15,SM_Volume_mean_5,SM_Volume_median_5,EWM_Volume_mean_5,SM_Volume_mean_10,SM_Volume_median_10,EWM_Volume_mean_10,SM_Volume_mean_15,SM_Volume_median_15,EWM_Volume_mean_15,Target
2,1623542400,0,626.0,344.50,1718.832520,0.0,2.0,1.25,0.75,6,23,-0.090759,-0.115173,-0.001917,343.799988,343.75,344.073944,-0.002911,343.825012,343.875,343.983917,55.781250,0.486572,345.041565,342.608429,-0.005814,343.883331,343.75,344.066772,51.343750,0.507812,345.152527,342.614136,1379.958252,1622.844116,1378.046997,944.173462,683.439087,1137.173340,949.931519,681.673218,1015.506592,-0.000583
16,1623542460,0,458.0,344.00,1217.352417,1.0,16.0,1.25,-0.25,6,23,-0.078186,-0.102783,-0.004539,344.149994,344.00,344.032867,-0.003244,343.825012,343.875,343.989227,47.656250,0.486572,345.041565,342.608429,-0.002844,343.816681,343.75,344.051147,46.062500,0.406006,344.831818,342.801514,1420.716187,1231.211182,1288.772217,1107.349731,1217.352417,1163.678833,979.783936,758.807129,1062.814209,-0.002389
30,1623542520,0,535.0,343.00,975.797058,2.0,30.0,1.50,-0.75,6,23,-0.108398,-0.102783,-0.004524,343.700012,344.00,343.459045,-0.002598,343.649994,343.625,343.662201,35.062500,0.591797,345.129028,342.170990,-0.001415,343.733337,343.75,343.804779,37.218750,0.495117,344.971375,342.495300,1221.026245,1217.352417,1114.897095,1174.722900,1217.352417,1101.569214,961.016418,975.797058,1042.419556,-0.002583
44,1623542580,0,614.0,342.25,1295.198486,3.0,44.0,1.50,-1.00,6,23,-0.153442,-0.117981,-0.001328,342.899994,343.00,342.787354,-0.005203,343.450012,343.500,343.195374,28.171875,0.831543,345.529175,341.370850,-0.004032,343.516663,343.75,343.440369,31.953125,0.709961,345.291779,341.741547,1151.868652,1217.352417,1215.064575,1225.364380,1224.281738,1165.578857,1060.817993,1217.352417,1101.664551,0.000196
3,1623542400,1,2888.0,35616.00,163.811539,0.0,3.0,160.00,64.00,6,23,-0.124573,-0.155518,0.002964,35552.000000,35552.00,35573.933594,0.001691,35539.199219,35536.000,35563.886719,54.687500,50.468750,35665.410156,35412.992188,-0.000754,35549.867188,35552.00,35576.121094,49.468750,63.375000,35708.335938,35391.398438,115.963493,102.154205,127.879196,88.659431,81.342072,107.197540,100.434464,88.136208,95.803955,0.001941

In [ ]:
df_pred["Target"] = 0.0

for j, row in df_test.iterrows():
    print(row["Target"])
    df_pred.loc[((df_pred["group_num"] == int(row["group_num"])) & (df_pred["row_id"] == int(row["row_id"]))), "Target"] = row["Target"]
    print("pred " + str(row["row_id"])  + " " + str(df_pred.loc[df_pred["row_id"] == row["row_id"], "Target"]))

-0.0005831014923736337
pred 2.0 2   -0.000583
Name: Target, dtype: float64
-0.0023892821391975636
pred 16.0 16   -0.002389
Name: Target, dtype: float64
-0.00258302341404272
pred 30.0 30   -0.002583
Name: Target, dtype: float64
0.00019623316487170136
pred 44.0 44    0.000196
Name: Target, dtype: float64
0.0019410546422208047
pred 3.0 3    0.001941
Name: Target, dtype: float64
0.0014663250076899857
pred 17.0 17    0.001466
Name: Target, dtype: float64
0.0019926975592880584
pred 31.0 31    0.001993
Name: Target, dtype: float64
0.0011638893225402057
pred 45.0 45    0.001164
Name: Target, dtype: float64
-0.0020429799876563784
pred 1.0 1   -0.002043
Name: Target, dtype: float64
-0.005106870397562267
pred 15.0 15   -0.005107
Name: Target, dtype: float64
-0.006624449572643162
pred 29.0 29   -0.006624
Name: Target, dtype: float64
-0.003864249258574727
pred 43.0 43   -0.003864
Name: Target, dtype: float64
-0.0024388746973118976
pred 0.0 0   -0.002439
Name: Target, dtype: float64
-0.002114590393560439
pred 14.0 14   -0.002115
Name: Target, dtype: float64
-0.0016845328122124666
pred 28.0 28   -0.001685
Name: Target, dtype: float64
-0.0021723399842598396
pred 42.0 42   -0.002172
Name: Target, dtype: float64
-0.00033922558602624816
pred 4.0 4   -0.000339
Name: Target, dtype: float64
0.00014845791243856172
pred 18.0 18    0.000148
Name: Target, dtype: float64
0.0018394784924532902
pred 32.0 32    0.001839
Name: Target, dtype: float64
0.0016446420251928402
pred 46.0 46    0.001645
Name: Target, dtype: float64
-0.00046976595680903925
pred 5.0 5   -0.00047
Name: Target, dtype: float64
-0.00017080764916007905
pred 19.0 19   -0.000171
Name: Target, dtype: float64
-0.0008480057872213592
pred 33.0 33   -0.000848
Name: Target, dtype: float64
-0.0008626075444761562
pred 47.0 47   -0.000863
Name: Target, dtype: float64
0.00035421032625483764
pred 7.0 7    0.000354
Name: Target, dtype: float64
0.000997866696888793
pred 21.0 21    0.000998
Name: Target, dtype: float64
0.0019639538248434943
pred 35.0 35    0.001964
Name: Target, dtype: float64
0.00232834519172362
pred 49.0 49    0.002328
Name: Target, dtype: float64
-0.0038338110305570954
pred 6.0 6   -0.003834
Name: Target, dtype: float64
-0.001234562705298004
pred 20.0 20   -0.001235
Name: Target, dtype: float64
-0.0016605206887890425
pred 34.0 34   -0.001661
Name: Target, dtype: float64
-0.0021540503759947087
pred 48.0 48   -0.002154
Name: Target, dtype: float64
-0.005359722702242883
pred 8.0 8   -0.00536
Name: Target, dtype: float64
-0.001069848271580241
pred 22.0 22   -0.00107
Name: Target, dtype: float64
-0.0015109997765975327
pred 36.0 36   -0.001511
Name: Target, dtype: float64
5.0858506500271044e-06
pred 50.0 50    0.000005
Name: Target, dtype: float64
0.0008402365539711561
pred 9.0 9    0.00084
Name: Target, dtype: float64
0.0012155511441386394
pred 23.0 23    0.001216
Name: Target, dtype: float64
-6.854332334438734e-05
pred 37.0 37   -0.000069
Name: Target, dtype: float64
-0.0005537811783711624
pred 51.0 51   -0.000554
Name: Target, dtype: float64
-0.0016571725177435526
pred 10.0 10   -0.001657
Name: Target, dtype: float64
-0.0036296558348256143
pred 24.0 24   -0.00363
Name: Target, dtype: float64
-0.003370409880268226
pred 38.0 38   -0.00337
Name: Target, dtype: float64
-0.0004943246902840864
pred 52.0 52   -0.000494
Name: Target, dtype: float64
-0.0004884622911202487
pred 13.0 13   -0.000488
Name: Target, dtype: float64
-0.0009428033549145114
pred 27.0 27   -0.000943
Name: Target, dtype: float64
-0.0009573794370802169
pred 41.0 41   -0.000957
Name: Target, dtype: float64
4.771679586465578e-05
pred 55.0 55    0.000048
Name: Target, dtype: float64
-0.0019393358909950882
pred 12.0 12   -0.001939
Name: Target, dtype: float64
-0.0035558155150481755
pred 26.0 26   -0.003556
Name: Target, dtype: float64
-0.0026726006868175458
pred 40.0 40   -0.002673
Name: Target, dtype: float64
-0.002446419461265183
pred 54.0 54   -0.002446
Name: Target, dtype: float64
-0.00015882125875196524
pred 11.0 11   -0.000159
Name: Target, dtype: float64
-0.0019378857011732263
pred 25.0 25   -0.001938
Name: Target, dtype: float64
-0.0019337646514125501
pred 39.0 39   -0.001934
Name: Target, dtype: float64
0.00017096494642756364
pred 53.0 53    0.000171
Name: Target, dtype: float64

In [ ]:
df_pred

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,group_num,row_id,Target
0,1623542400,3,1201.0,1.478556,1.486030,1.478000,1.483681,6.547996e+05,1.481439,0,0,-0.002439
1,1623542400,2,1020.0,580.306667,583.890000,579.910000,582.276667,1.227988e+03,581.697038,0,1,-0.002043
2,1623542400,0,626.0,343.789500,345.108000,343.640000,344.598000,1.718833e+03,344.441729,0,2,-0.000583
3,1623542400,1,2888.0,35554.289632,35652.464650,35502.670000,35602.004286,1.638115e+02,35583.469303,0,3,0.001941
4,1623542400,4,433.0,0.312167,0.312600,0.311920,0.312208,5.855774e+05,0.312154,0,4,-0.000339
5,1623542400,5,359.0,4.832550,4.845900,4.822900,4.837583,4.714355e+04,4.836607,0,5,-0.000470
6,1623542400,7,541.0,55.223080,55.494000,55.182000,55.344680,6.625202e+03,55.298816,0,6,-0.003834
7,1623542400,6,2186.0,2371.194286,2379.200000,2369.670000,2374.380714,1.214129e+03,2374.335307,0,7,0.000354
8,1623542400,8,35.0,1.003150,1.019800,0.987300,1.003300,7.061928e+03,1.002936,0,8,-0.005360
9,1623542400,9,560.0,161.933429,162.480000,161.730000,162.214714,1.485009e+03,162.231310,0,9,0.000840
10,1623542400,10,61.0,2939.862750,2952.160000,2936.230000,2947.078025,9.584785e+00,2945.110614,0,10,-0.001657
11,1623542400,13,229.0,0.068132,0.068240,0.068038,0.068158,3.046438e+06,0.068158,0,11,-0.000159
12,1623542400,12,383.0,0.327973,0.329272,0.327650,0.328829,5.364911e+05,0.328582,0,12,-0.001939
13,1623542400,11,123.0,243.137500,243.810000,242.960000,243.532500,3.079589e+02,243.452697,0,13,-0.000488
14,1623542460,3,672.0,1.482410,1.483759,1.479200,1.482043,2.858286e+05,1.481495,1,14,-0.002115
15,1623542460,2,1251.0,581.800000,585.590000,580.380000,582.358333,1.405285e+03,583.451389,1,15,-0.005107
16,1623542460,0,458.0,344.353500,344.790000,343.620000,344.089500,1.217352e+03,344.188716,1,16,-0.002389
17,1623542460,1,2006.0,35596.771429,35621.000000,35533.380000,35555.397143,9.336366e+01,35584.861196,1,17,0.001466
18,1623542460,4,573.0,0.312274,0.312400,0.311540,0.311847,9.396433e+05,0.311930,1,18,0.000148
19,1623542460,5,644.0,4.834550,4.849500,4.818500,4.838300,8.678307e+04,4.837430,1,19,-0.000171
20,1623542460,7,530.0,55.320900,55.426600,55.149000,55.286400,6.929458e+03,55.265491,1,20,-0.001235
21,1623542460,6,1261.0,2373.970101,2375.350000,2369.370000,2371.790000,7.867385e+02,2372.809830,1,21,0.000998
22,1623542460,8,98.0,1.003050,1.019600,0.984100,1.001550,4.771951e+04,1.001078,1,22,-0.001070
23,1623542460,9,381.0,162.141857,162.380000,161.800000,162.193000,1.344810e+03,162.121310,1,23,0.001216
24,1623542460,10,35.0,2946.370567,2949.720000,2943.710000,2945.711900,2.794134e+00,2946.633163,1,24,-0.003630
25,1623542460,13,395.0,0.068144,0.068334,0.068040,0.068217,4.981365e+06,0.068201,1,25,-0.001938
26,1623542460,12,287.0,0.328656,0.329280,0.327780,0.328563,4.496390e+05,0.328548,1,26,-0.003556
27,1623542460,11,62.0,243.368000,243.500000,242.940000,243.330000,1.435053e+02,243.337398,1,27,-0.000943
28,1623542520,3,849.0,1.481493,1.482896,1.477801,1.479259,4.868546e+05,1.480640,2,28,-0.001685
29,1623542520,2,540.0,582.100000,582.670000,579.620000,580.540000,4.723730e+02,580.850017,2,29,-0.006624
30,1623542520,0,535.0,343.778000,344.060000,342.500000,343.009500,9.757970e+02,343.139652,2,30,-0.002583
31,1623542520,1,3531.0,35550.271250,35576.590000,35402.870000,35488.287500,2.205352e+02,35480.068897,2,31,0.001993
32,1623542520,4,1667.0,0.311670,0.312000,0.310430,0.311006,3.416122e+06,0.311131,2,32,0.001839
33,1623542520,5,380.0,4.833440,4.835700,4.814300,4.822080,4.128848e+04,4.824327,2,33,-0.000848
34,1623542520,7,825.0,55.225700,55.309600,54.910000,55.026050,1.231549e+04,55.095780,2,34,-0.001661
35,1623542520,6,1856.0,2370.880011,2371.950076,2363.000000,2365.590000,7.640805e+02,2367.128372,2,35,0.001964
36,1623542520,8,53.0,1.000450,1.016400,0.981700,0.997500,1.216251e+04,0.998949,2,36,-0.001511
37,1623542520,9,439.0,161.876143,162.030000,161.460000,161.829143,1.265969e+03,161.737656,2,37,-0.000069
38,1623542520,10,56.0,2939.582925,2941.808300,2930.030000,2933.232000,6.084640e+00,2937.153112,2,38,-0.003370
39,1623542520,13,338.0,0.068159,0.068170,0.067950,0.068025,2.790134e+06,0.068057,2,39,-0.001934
40,1623542520,12,264.0,0.328061,0.328370,0.326973,0.327497,7.424868e+05,0.327676,2,40,-0.002673
41,1623542520,11,49.0,242.745000,243.000000,242.230000,242.347500,5.420834e+01,242.451070,2,41,-0.000957
42,1623542580,3,1023.0,1.479075,1.479399,1.472600,1.473527,3.286849e+05,1.476372,3,42,-0.002172
43,1623542580,2,409.0,580.490000,580.690000,578.310000,578.912000,2.045210e+02,579.470144,3,43,-0.003864
44,1623542580,0,614.0,343.238000,343.406000,341.940000,342.325000,1.295199e+03,342.525876,3,44,0.000196
45,1623542580,1,2901.0,35478.867162,35503.460134,35381.010000,35423.490000,1.188025e+02,35438.243466,3,45,0.001164
46,1623542580,4,1094.0,0.310923,0.311400,0.310400,0.310676,2.403980e+06,0.310894,3,46,0.001645
47,1623542580,5,465.0,4.819883,4.822100,4.808300,4.813450,3.476754e+04,4.815294,3,47,-0.000863
48,1623542580,7,347.0,54.997567,55.044200,54.916800,54.940950,2.735096e+03,54.974253,3,48,-0.002154
49,1623542580,6,2624.0,2365.769427,2367.500000,2359.010000,2360.505714,2.253663e+03,2362.394059,3,49,0.002328
50,1623542580,8,169.0,0.996600,1.012900,0.975100,0.991000,6.251820e+04,0.992974,3,50,0.000005
51,1623542580,9,431.0,161.862333,161.930000,161.270000,161.485000,1.156636e+03,161.595349,3,51,-0.000554
52,1623542580,10,34.0,2930.150250,2931.520000,2921.660000,2925.073700,1.187095e+00,2926.427322,3,52,-0.000494
53,1623542580,13,240.0,0.068015,0.068055,0.067866,0.067936,2.572088e+06,0.067958,3,53,0.000171
54,1623542580,12,276.0,0.327267,0.327410,0.326130,0.326406,2.571778e+05,0.326834,3,54,-0.002446
55,1623542580,11,107.0,242.360000,242.550000,241.700000,242.074000,1.393091e+02,242.123168,3,55,0.000048